.about {
  padding: 5em 0;
  background: $soothing-black;
  color: #fff;
  @include mq-max() {
    padding: 2.5em 0;
  }

  .title {
    padding: 0 0 0.5em 0;
  }

  .section {
    padding: 0 0 3em 0;
    @include mq-max() {
      padding: 0;
    }
  }
  .section .container {
    padding: 0 3em 0 0;
  }

  .bio {
    @include mq-max() {
      padding: 1.5em 0;
    }
    .description {
      font-size: 1.1em;
      line-height: 1.38;
      letter-spacing: 0.015em;
    }
    .blue-hl {
      color: $light-blue;
    }
  }

  .languages {
    @include mq-max() {
      padding: 1.5em 0;
    }
    .skill-set {
      padding: 0 0 0.85em 0;
    }
    .skill-set .sub-title {
      font-weight: bolder;
    }
    .skill-set .skills {
      font-weight: 100;
      font-size: 0.9em;
      color: $light-grey;
      padding: 0.1em 0 0 0;
    }
    .resume {
      font-size: 0.9em;
      color: $light-grey;
    }
  }

  .spotify {
    @include mq-max() {
      padding: 1.5em 0;
    }
    iframe {
        width: 100%;
    }
  }

  .social {
    @include mq-max() {
      padding: 1.5em 0;
    }
    .social-icon {
      width: 1.2em;
      padding: 0 0.5em;
    }
  }

  .reading {
    @include mq-max() {
      padding: 1.5em 0;
    }
    .article {
      padding: 0 0 0.85em 0;
    }
    .article .sub-title {
      font-weight: bolder;
      color: $gold;
    }
    .article .author {
      font-weight: 100;
      font-size: 0.9em;
      color: $light-grey;
      padding: 0.1em 0 0 0;
    }
  }

}