.contact {
  width: 100%;
  padding: 6em 0;
  overflow: hidden;
  @include mq-max() {
    padding: 2.5em 0;
  }

  #form {
    position: relative;
    width: 70%;
    margin: 0 auto;
    @include mq-max() {
      width: 100%;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    background: white;
    padding: 4em;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    @include mq-max() {
      padding: 2em;
    }
  }
  .container .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em 0;
  }
  .container .field label {
    padding: 0.35em 0;
  }
  .container .field input[type='text'], .container .field input[type='email'], .container .field textarea  {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    padding: 1em;
    font-size: 0.89em;
    transition: 0.25s ease;
  }
  .container .submit-field {
    display: flex;
    padding: 0.5em 0;

    .submit-btn {
      padding: 0.6em 1em;
      background: $light-blue;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
      font-size: 1em;
      transition: 0.5s ease-in;
      box-shadow: none;
      &:hover {
        background: $light-blue-hover;
        border-color: $light-blue-hover;
      }
    }
  }
  .container .field input.error, .container .field textarea.error {
    border-color: red;
  }

  .success-screen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .375s cubic-bezier(.25,.46,.45,.94);
    transform: translateY(100%);
    opacity: 0;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    &.show {
      opacity: 1;
      transform: translateY(0);;
    }

    .gif {
      padding: 1em;
      img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
    }

    .message {
      padding: 1em;
      @include mq-max() {
        h2 {
          font-size: 1.5em;
        }
      }
    }
  }
}