/** Typography */
a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
  font-family: $secondary-font;
}

h1 {
  font: 300 5em $tertiary-font;
  letter-spacing: 2px;
  margin: 0;
}

h2 {
  font: 300 2.5em $primary-font;
  margin: 0;
}